@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap");
@import "header.css";
@import "title.css";
@import "index.css";
@import "play.css";

:root {
  --gray: rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.body {
  width: 320px;
  background-color: white;
  min-height: 60vh;
  border-radius: 30px;
  box-shadow: 0 19px 38px rgba(227, 226, 235, 0.3),
    0 15px 12px rgba(227, 226, 235, 0.2);
  position: relative;
  padding: 35px 25px;
}
